{{ define "main" }}
<main class="main list" role="main">
	<div>
    <h2>弊社について</h2>
    <p>{{ $.Param "description" }}</p>
  </div>
  <div>
  <hr>
  <h2>更新情報</h2>
	</div>
	{{- with .Content }}
	<div class="content main__content clearfix">
		{{ . }}
	</div>
	{{- end }}
	{{ $paginator := .Paginate (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) }}
	{{- range $paginator.Pages }}
		{{- .Render "summary" }}
	{{- end }}
	{{- if and (eq $paginator.TotalNumberOfElements 0) (not $.Content) }}
		<div class="warning">
			{{ partial "svg/files.svg" (dict "class" "warning__icon") }}
			<h3 class="warning__headline">{{ T "noposts_warning_title" | safeHTML }}</h3>
			<div class="warning__text">
				<p class="warning__description">{{ T "noposts_warning_description" | safeHTML }}</p>
				<p class="warning__tip">{{ T "noposts_warning_tip" | safeHTML }}</p>
			</div>
		</div>
	{{ end }}
	<h2>技術・営業協力会社</h2>
    {{ "<!-- Clients Aside -->" | safeHTML }}
    <aside class="clients">
      <div class="container container-inner">
        <div class="row"><div class="col">
          {{ range .Site.Params.clients }}
          
              <a href="{{ .link }}">
                <img src="/images/logos/{{ .logo }}" class="img-responsive img-centered" alt="">
              </a>

          {{ end }}
          </div>
        </div>
      </div>
    </aside>
</main>
{{ partial "pagination.html" . }}
{{ end }}
